*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: inherit;
    font-size: 100%;
    font-weight: 400;
    border: none;
    text-decoration: none;
    list-style: none;
}

body, a, button, textarea, input{
    font-family: "playfair Display", serif;
}
.main_block{
    width: 100%;
    height: 768px;
    background: url(../img/coffee_image.webp) no-repeat center/cover;
    margin-bottom: 71px;
}
.main_block .container{
    width: 1180px;
    margin-left: auto;
    margin-right: auto;
    
}
.main_block .container header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
}
.main_block .container header menu{
    width: 450px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.main_block .container menu li a{
    color: rgba(255, 255, 255, 1);
    font-family: Playfair Display;
    font-style: Medium;
    font-size: 14px;
    font-weight: 500;
    line-height: 19px;
    text-align : left;
}
.main_block .container header button{
    border-radius: 24px;
    box-shadow: 0px 6px 12px 0px rgba(249, 192, 106, 0.22);
    background: rgba(249, 192, 106, 1);
    padding: 14px 28px;
}

.main_block .container h1{
    color: #fff;
    text-align: center;
    margin-top: 100px;
    font-size: 45px;
}

.main_block .container p{
    color: #fff;
    text-align: center;
    margin-top: 100px;
    font-size: 15px;
}

.block_two{
    width: 100%;
    padding: 82px 0;
    
        
}
.block2_1{
    width: 1180px;
    margin: 0 auto;
    
}
.block_two .block2_1 h1{
    font-weight: 700;
    font-size: 54px;
    color: #603809;
    text-align: center;
    margin-bottom: 10px;
}
.block_two .block2_1 p{
    font-weight: 400;
    font-size: 20px;
    line-height: 170%;
    text-align: center;
    color: #603809;
    margin-bottom: 20px;
}
.block2_2{
    width: 1180px;
    display: flex;
    justify-content: space-between;
    
}
nav{
    width: 280px;
    height: 284px;
    background: #ffeed8;
    text-align: center;

}
.block2_2 nav img{
    margin-top: 30px;
    margin-bottom: 10px;
}
.block2_2 nav h2{
    font-weight: 700;
    font-size: 28px;
    color: #603809;
    margin-bottom: 10px;
}
.block2_2 nav h3{
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    color: #603809;
    width: 176px;
    margin: 0 auto;
}
h4{
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    color: #603809;
    
}
h5{
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    color: #603809;
}
h4{
    margin-top: 20px;
    margin-bottom: 10px;
}
h5{
    margin-bottom: 20px;
}
.block_two .block2_1 button{
    font-weight: 700;
    font-size: 16px;
    color: #603809;
    border-radius: 24px;
    width: 134px;
    height: 48px;
    box-shadow: 0 6px 12px 0 rgba(249, 192, 106, 0.22);
    background: #f9c06a;
    display: block;
    margin: 0 auto;
}
